.swiper-container.swiper-container {
	overflow: visible;
	cursor: move;
}

.swiper-wrapper {
	a {
		cursor: pointer !important;
	}
}

.slide--desktop {
	width: 90%;
	
	@include breakpoint(md) {
		width: 60%;
	}
	
	@include breakpoint(lg) {
		width: 53.8%;
	}
}

.slide--mobile {
	width: 35.6%;
	
	@include breakpoint(md) {
		width: 23.65%;
	}
	
	@include breakpoint(lg) {
		width: 21.2%;
	}
}

.slide-info {
	cursor: initial;
}

.swiper-slide {
	margin-right: 20px;
	
	@include breakpoint(md) {
		margin-right: 40px;
	}
}

.swiper--loaded {
	.swiper-slide {
		margin-right: 0;
	}
}

.swiper-slide img {
	width: 100%;
	height: auto;
}
.work-slide__prev,
.work-slide__next {
	line-height: 35px;
	cursor: pointer;
}