.key-mono,
.key-case,
.key-self {
	height: 20px;
}

.key-case,
.key-self {
	width: 70px;
	margin: 0;
	padding: 0;
}

.key-mono {
	vertical-align: middle;
	line-height: 20px;
	
	&:after {
		display: inline-block;
		content: '';
		width: 23px;
		height: 13px;
		background: url("/images/mono.svg");
	}
}


.key-case {
	background: linear-gradient(to right, $color-blue, rgba($color-blue, 0));
}

.key-self {
	background: linear-gradient(to right, $color-red, rgba($color-red, 0));
}