.key-case,
.key-self {
	height: 20px;
	width: 70px;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.key-case {
	background: linear-gradient(to right, $color-red, rgba($color-red, 0));
}

.key-self {
	background: linear-gradient(to right, $color-blue, rgba($color-blue, 0));
}