.list {
	margin:  0;
	padding: 0;
	list-style: none;
	text-align: left;
}

// Inline

.list--horizontal {
	> .list-item {
		display: inline-block;
		margin-right: $grid-gutter;
		vertical-align: top;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	&.list--align-middle {
		> .list-item {
			vertical-align: middle;
		}
	}
}

// Block List

.list--vertical {
	> .list-item {
		display: block;
		margin-bottom: $grid-gutter;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Extra Gutter Sizes

@each $gutter-name, $gutter-size in $grid-gutter-extra {
	.list--vertical.list--gutter-#{$gutter-name} {
		> .list-item {
			margin-bottom: $gutter-size;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.list--horizontal.list--gutter-#{$gutter-name} {
		> .list-item {
			margin-right: $gutter-size;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// Responsive Orientation

@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		.list--horizontal--#{$breakpoint-name} {
			> .list-item {
				display: inline-block;
				margin-right: $grid-gutter;
				vertical-align: top;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}

		// Block List

		.list--vertical--#{$breakpoint-name} {
			> .list-item {
				display: block;
				margin-bottom: $grid-gutter;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

// Responsive Gutters
@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		@each $gutter-name, $gutter-size in $grid-gutter-extra {
			.list--vertical.list--gutter-#{$gutter-name + '-' + $breakpoint-name},
			.list--vertical--#{$breakpoint-name}.list--gutter-#{$gutter-name + '-' + $breakpoint-name},
			.list--vertical--#{$breakpoint-name}.list--gutter-#{$gutter-name} {
				> .list-item {
					margin-bottom: $gutter-size;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			
			.list--horizontal.list--gutter-#{$gutter-name + '-' + $breakpoint-name},
			.list--horizontal--#{$breakpoint-name}.list--gutter-#{$gutter-name + '-' + $breakpoint-name},
			.list--horizontal--#{$breakpoint-name}.list--gutter-#{$gutter-name} {
				> .list-item {
					margin-right: $gutter-size;
					
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}