$color-black: #121212;
$color-gray: #646464;
$color-red: #7C3737;
$color-teal: #37707C;

$breakpoints : (
	sm : 500px,
	md : 800px,
	lg : 1000px,
	xl : 1300px
);

@mixin breakpoint($size) {
	$breakpoint-found: map-has-key($breakpoints, $size);
	@if ($breakpoint-found == true) {
		$breakpoint: map-get($breakpoints, $size);
		@media (min-width: #{$breakpoint}) {
			@content;
		}
	} @else {
		@warn "Breakpoint size " + #{$size} + " doesn't exist."
	}
}

$column-sizes: 12;
$grid-gutter: 40px;
$grid-gutter-extra: (
	none    : 0px,
	smaller : 10px,
	small   : 20px,
	medium  : 30px,
	default : $grid-gutter
);
