@font-face {
	font-family: 'GTA';
	src: url(https://dl.dropboxusercontent.com/u/1331627/gt-america.woff);
	font-weight: 400;
	font-style: normal;
}

.small {
	font-size: 14px;
}

.gray {
	color: $color-gray;
}

.underline {
	border-bottom: 1px solid;
}

.underline--hover {
	&:hover { border-bottom: 1px solid; }
}

.align-right {
	text-align: right;
}